{% assign sorted_projects = site.projects | sort: 'start_date' | reverse %}
{% assign featured_projects = sorted_projects | where: "featured", true %}
{% assign non_featured_projects = sorted_projects | where: "featured", false %}
{% assign all_sorted_projects = featured_projects | concat: non_featured_projects %}

{% assign current_project = page %}

{% for project in all_sorted_projects %}
  {% if project.url == current_project.url %}
    {% assign current_index = forloop.index %}
  {% endif %}
{% endfor %}

{% if current_index %}
  <nav class="pagination">
    {% assign previous_index = current_index | minus: 2 %}
    {% assign next_index = current_index | plus: 0 %}

    {% if previous_index >= 0 %}
      <a href="{{ all_sorted_projects[previous_index].url | relative_url }}" class="pagination--pager" title="{{ all_sorted_projects[previous_index].title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}

    {% if next_index < all_sorted_projects.size %}
      <a href="{{ all_sorted_projects[next_index].url | relative_url }}" class="pagination--pager" title="{{ all_sorted_projects[next_index].title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
