<p class="project_navigation">
  <strong>
    <i class="fas fa-fw fa-home" aria-hidden="true"></i> 
    <a href="/projects/" class="project__navigation-item"> Projects Home </a>
  </strong>

  <!-- Tags Section -->
  <strong>
    <i class="fas fa-fw fa-tags" aria-hidden="true"></i> 
    <a href="{{ site.tag_archive.path | relative_url }}" class="project__navigation-item"> View by Tag </a>
  </strong>

  <!-- Categories Section -->
  <strong>
    <i class="fas fa-fw fa-folder-open" aria-hidden="true"></i> 
    <a href="{{ site.category_archive.path | relative_url }}" class="project__navigation-item"> View by Category </a>
  </strong>
</p>
