---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Remove underline from header text */
h1, h2, h3, h4, h5, h6 {
  text-decoration: none !important;
  border-bottom: none !important; 
}
