---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card-container a {
  text-decoration: none !important;
}

.card-container a:hover {
  text-decoration: none !important;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  flex: 1;
}

.card-title {
  font-size: 1em;
  margin: 10px;
}

.card-description {
  font-size: 1em;
  color: #666;
  margin: 10px;
}

.card-duration {
  font-size: 0.7em;
  color: #aaa;
  margin: 10px;
}

.card-image {
  flex-shrink: 0;
  margin-left: 20px;
  width: 180px;
  height: auto;
  box-shadow: none !important;
}

.card-image:hover {
  box-shadow: none !important;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  box-shadow: none !important;
}

.card-image img:hover {
  box-shadow: none !important;
}

